/*reset generales*/
*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "montserrat",sans-serif;
}
ul,ol{
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #000;
}
/*Fin de los reset*/
/*PARA NO REPETIR LOS RESET ,SI TIENE EL HEADER YA LOS TIENE*/


/*-------HEADER-----------*/
header{
  height: 90px;
  background-color: #adb5bd;
  padding: 0 20px;
  color: black;
  margin-bottom: 10px
}

.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}
.nombre-header{
    text-transform: uppercase;
    margin: 0 10px 0 0;
}
.avatar{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
}

.menu-header{
  float: right;
  line-height: 100px;
}
.menu-header a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;  /*ESto me dice que no esta en version movil*/
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu-header a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
.btn-color{
  background-color: deeppink;
  border-color: deeppink;
}


@media screen and (max-width:800px) {

  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu-header{
    z-index: 100;/*esta es la line aque arreglo todo*/
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu-header a, .nombre-header{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu-header{
    right: 0;
  }
  .avatar{
    width: 100px;
    height: 100px;
    margin: 0;
  }


}

/*-------FOOTER-----------*/
/*reset generales: Estan al principio*/
footer{
  background-color: #adb5bd;
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;*/
  padding-top: 20px;
  margin-top: 20px;
}
.texto-footer{
  background-color: pink;
  width: 180px;
}
.social{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.text-social{
  justify-content: center;
}
.iconosSociales{
  position:relative;
  display: flex;
  flex-wrap: wrap;
}
.iconosSociales ul{
  top: 50%;
  left: 50%;
  transform: translate(-50%,);
  margin: 0;
  padding: 0;
  display: flex;
}
.iconosSociales ul li{
  position: relative;
  /*list-style: none;   LO HEREDA de los reset generalse  */
  margin:0 2px;
}
.iconosSociales ul li a{
  width: 40px;
  height: 40px;
  display: block;
  transition: 0.5s;
  background: #ccc;
}
.iconosSociales ul li a span{
  width: 100%;
  height: 100%;
}

/*Movimiento de las cajas*/
.iconosSociales ul li a span:before{
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #262626;
  transform-origin: top;
  transition-duration: 0.5s;
}
.iconosSociales ul li:hover a span:before{
transform: rotateX(90deg) translateY(-50%);
}
.iconosSociales ul li a span:after{
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  color: #262626;
  transform-origin: bottom;
  transition-duration: 0.5s;
  transform: rotateX(90deg) translateY(50%);
}
.iconosSociales ul li:hover a span:after{
transform: rotateX(0deg) translateY(0);
}

.iconosSociales ul li:nth-child(1) a span:after{
  background: #3b5999;
  content: '\f39e';
  color: white;
}
.iconosSociales ul li:nth-child(2) a span:after{
  background: #55acee;
  content: '\f099';
  color: white;
}
.iconosSociales ul li:nth-child(3) a span:after{
  background: #dd4b39;
  content: '\f0d5';
  color: white;
}
.iconosSociales ul li:nth-child(4) a span:after{
  background: #0077B5;
  content: '\f0e1';
  color: white;
}
.iconosSociales ul li:nth-child(5) a span:after{
  background: #e4405f;
  content: '\f16d';
  color: white;
}
.copyright{
  margin-top: 20px;
}
