.lista-productos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.tags{
  width: 150px;
  margin-right: 10px;
}
.productos{
  width: 85%;
}
/*los hijos de productos son .vista-producto */
.vista-producto{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
/*los hijos de las vistas por productos*/
.caja-imagen{
  width: 300px;
  height: 300px;
}
.propia-imagen{
  width: 100%;
}
/*informacion-producto*/
.informacion-producto{
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 65%;
}
/*FIltros*/
.filtro-precio{
padding: 10px;
background-color: rgba(0, 0, 0, 0.12);
}
