*{
box-sizing: border-box;
}
ul,ol{
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  color: #000;
  text-decoration: none;
}
h1{
  font-weight: bold;
}
.carros{
  margin-top: 10px;
  margin-bottom: 10px;
}
.novedades{
  margin-top: 30px;
  width: 100%;
  background-image: url("images/brushed.png");
  background-repeat: repeat;
  display: inline-block;
  overflow:hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;


}
.texto-novedades{
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}
.novedad-uno{
border: 2px solid grey;

}
.mouse-novedad{
  flex-wrap: wrap;
  display: flex;
}
.contenedor-product{
  flex-direction: column;
  width: 25%;
}

@media screen and (max-width:991px){

}
